:root {
	--back: black;
    --back2: hsla(150, 50%, 30%, .5);
    --foredark: hsla(0,0%,10%,1);
	--forelight: hsla(0,0%,100%,1);
	--border: hsla(0,0%,20%,.8);
	--borderlight: hsla(0,0%,33%,.3);
	--shadow: hsl(0,0%,50%);
	--zebra: hsl(0, 0%, 93%, 1);
}

table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 10px var(--shadow);
	border-collapse: collapse;
}

caption {
    padding: 10px;
    caption-side: bottom;
	color: var(--back);
	font-size: .85rem;
}

thead tr {
    background-color: darkgray;
    color: var(--forelight);
}

thead tr:first-child {
	background-color: var(--back);
    padding: 100px;
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--borderlight);
    text-align: center;
}

tbody tr:nth-child(even) {
	background-color: var(--zebra);
}

thead tr th:first-child {
    background-color: var(--back);
}
