@media screen and (min-width: 500px) {
    .container-content {
        position: absolute;
        top: 40px;
        left: 20px;
        background-color: white;
        opacity: 0.8;
        padding: 0 15px;
    }

    .container-weather {
        position: absolute;
        bottom: 40px;
        right: 20px;
        background-color: white;
        opacity: 0.8;
        padding: 0 15px;
    }

    main {
        position: relative;
    }

    h2 {
        border-bottom: 1px solid #ccc; 
    }

    .container-weather .section-title::after {
        content: "⛅️";
        display: inline-block;
        margin-left: 10px; 
    }
    .weather-icon {
        display: none;
    }

    .container-content .section-title {
        padding-bottom: 10px;
    }

    .hero {
        background-color: var(--background-color);
      }
}